<header class="fixed-top">
    <nav class="navbar navbar-dark bg-primary">

		<a class="navbar-brand">
			<i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
			ALURAPIC
		</a>
		
		<ap-menu #menu>
			<ul class="menu-list list-unstyled">
				<li><a showIfLogged [routerLink]="['p','add']">Upload</a></li>
				<li><a [routerLink]="['']">Login</a></li>
				<li><a [routerLink]="['signup']">Sigup</a></li>
            </ul>
		</ap-menu>	

		<!--faz o subscribe e pega o valor da inscrição no obervable user$-->
        <div *ngIf="(user$ | async) as user; else login">
			<i class="fa fa-user-circle mr-1"></i>
			<a class="mr-1">{{ user.name | uppercase}}</a>
			<span class="navbar-text">
				<a href="#" (click)="logout()">(LOGOUT)</a>
			</span>
        </div>

        <ng-template #login>
			<span class="navbar-text">
				<a  [routerLink]="['']">Please, login!</a>
			</span>
				<!--usa o mesmo padrao do navigate - ['user', userName]-->
        </ng-template> 
	</nav>
</header>

<div class="fixed-top">
	<ap-loading></ap-loading>
	<ap-alert></ap-alert>
</div>
